<form action = "{% url 'attendanceTracker:calculateAttendance' %}" method="GET">
{% for key in timetable.items %}
	{% if key.0 != 0 and key.1.1 != None %}
		{{ key.0 }} : {{ key.1.1 }} - ID : {{ key.1.3 }} <br />
		<input type = "radio" name = "{{ key.1.3 }}" id = "a" value = "Attended" />
		<label for = "{{ key.1.3 }}">Attended</label><br />	
		<input type = "radio" name = "{{ key.1.3 }}" id = "dna" value = "Did not attend" />
		<label for = "{{ key.1.3 }}">Did not attend</label><br />	
		<input type = "radio" name = "{{ key.1.3 }}" id = "dnh" value = "Did not happen" />
		<label for = "{{ key.1.3 }}">Did not happen</label><br />	
		<input type = "radio" name = "{{ key.1.3 }}" id = "ign" value = "Ignore" />
		<label for = "{{ key.1.3 }}">Ignore</label><br />	
		<br />	
	{% endif %}
{% endfor %}
<input type="submit" value="Submit">
</form>
